*{
    margin: 0px;
    padding: 0px;
}
body{
    background: url(https://images.pexels.com/photos/11546831/pexels-photo-11546831.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}

#temp{
    font-size: 100px;
}
#main{
     height: 80vh;
}
video{
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
    z-index: -1;
}
.textColor{
    color:brown;
}